APP_ENV=development
SECRET_KEY=dev-secret-key

# PostgreSQL (Cloud SQL)
DB_HOST=34.47.71.231
DB_PORT=5432
DB_NAME=postgres
DB_USER=etl
DB_PASSWORD=etl_pass

# OpenSearch (GCE)
OPENSEARCH_HOST=34.50.28.16
OPENSEARCH_PORT=9200

# LLM
GEMINI_LLM_API_KEY=
ANTHROPIC_API_KEY=

# Google
GOOGLE_PLACES_API_KEY=

# Naver
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# Seoul Open Data
SEOUL_API_KEY=
